.login{
    display:flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    font-family: inter;
}
.form{
    display: flex;
    flex-direction: column;
}
.form  >h1{
    font-size: 35px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    letter-spacing: -1px;
}
.form >input{
    min-width: 380px;
    padding: 20px 0;
    padding-left: 15px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid rgba(red, green, blue, alpha);
font-family: inter;
border-radius: 2px;
font-size: 15px;
}
.button{
    padding: 17px 30px;
    margin-top: 10px;
    background: black;
    border: none;
    font-size: 10px;
    border-radius: 3px;
    color: wheat;
}