.logout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: inter;
}
.button{

    min-width: 300px;
    padding: 17px 30px;
    margin-top: 20px;
    background: black;
    color: white;
    font-size: 14px;
    font-family: inter;
    border-radius: 3px;
    
}
.user{
    color: #8dad8d;
}